/*
#idref {
    color: orange
}

.classref {
    color: blue
}
*/


/* Global variables: */
:root {
    --n-houses: 0;
    --grid-gap: 1vw;
    --padding: 1vw;
    --aspect-ratio: 1;
    --corners: 10px;
}

.header {
    text-align: center;
}

#gameboard {
    display: grid;
    grid-template-areas:
        "As Af Bs"
        "As Bf Bs";
    grid-template-columns: 1fr 6fr 1fr;
    aspect-ratio: var(--aspect-ratio);
    gap: var(--grid-gap);
}

#AS { grid-area: As }
#BS { grid-area: Bs }
#A-field { grid-area: Af }
#B-field { grid-area: Bf }

.field {
    display: grid;
    grid-template-columns: repeat(var(--n-houses), 1fr);
    gap: var(--grid-gap);
}

.house {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: grey;
    cursor: pointer;
    border-radius: var(--corners);
}

.store {
    aspect-ratio: var(--aspect-ratio)/4;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    cursor: default;
    border-radius: var(--corners);
}


#message {
    width: fit-content;
    padding: 5px;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin: 10px;
}

