/*
#idref {
    color: orange
}

.classref {
    color: blue
}
*/


/* Global variables: */
:root {
    --n-houses: 0;
    --grid-gap: 1vw;
    --padding: 1vw;
    --aspect-ratio: calc(var(--n-houses+2)/2);
}

.header {
    text-align: center;
}

#gameboard {
    display: grid;
    grid-template-areas: 
        "As Af Bs"
        "As Bf Bs";
    grid-template-columns: 1fr 6fr 1fr;
    aspect-ratio: var(--aspect-ratio);
    gap: var(--grid-gap);
}

#A-store { grid-area: As }
#A-field { grid-area: Af }
#B-store { grid-area: Bs }
#B-field { grid-area: Bf }

.field {
    display: grid;
    grid-template-columns: repeat(var(--n-houses), 1fr);
    gap: var(--grid-gap);
}

.house {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: grey;
    cursor: pointer;
}

.store {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: grey;
    cursor: default;
}


#message {
    text-align: center;
    margin: 80% 50% 10% 25%;
    border: 2px solid black;
}

